{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block body %}

{% include 'partials/navbar.html' %}

<div class="auth-screen d-flex justify-content-center align-items-center">

<div class="auth-card glass-card p-4 p-md-5">

    <div class="text-center mb-4">
        <h1 class="fw-bold">Create Account</h1>
        <p class="text-muted">
            Join AI Website Audit Tool
        </p>
    </div>

    <form id="registerForm">

        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input
                type="text"
                id="registerName"
                class="form-control"
                placeholder="Enter your name"
                required
            >
        </div>

        <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input
                type="email"
                id="registerEmail"
                class="form-control"
                placeholder="Enter your email"
                required
            >
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input
                type="password"
                id="registerPassword"
                class="form-control"
                placeholder="Create password"
                required
            >
        </div>

        <div class="mb-4">
            <label class="form-label">Confirm Password</label>
            <input
                type="password"
                id="registerConfirmPassword"
                class="form-control"
                placeholder="Confirm password"
                required
            >
        </div>

        <button
            type="submit"
            class="btn btn-primary w-100 py-2"
        >
            Create Account
        </button>

    </form>

    <hr class="my-4">

    <div class="text-center">
        Already have an account?
        <a href="/login" class="login-link">
            Login
        </a>
    </div>

</div>


</div>

{% include 'partials/footer.html' %}

{% endblock %}
